.banner{
height:360px;
background-image: url("/assets/images/din.png");
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: initial;
background-size:cover;
width:100%;
text-align:center;
}

.in-banner{
padding:100px;

}

h1{
font-size:65px;
font-family:Open Sans;
font-weight:700;
margin-top: 0px;
margin-bottom: .75em;
color:white;
}

em{
font-size:2em;
font-family:Open Sans;
opacity:.3;
color:white;
}

.intro{
background-image: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
background-color: #F3F3F3;
color:#222;
width:100%

}

hr{
margin-top: 10px;
margin-right: auto;
margin-bottom: 20px;
margin-left: auto;
height:1px;
}

.wrapper {
height: 100%;
margin: auto;
margin-top: auto;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
position: relative;
min-width: 960px;
width: 66.66666666666667%;
}

#topNav{
height: 40px;
color: #EBEBEB;
background-color: #232323;
border-bottom: 2px solid #AF3A42;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #333;

}

#logo{
display:inline-block;
}

#topNav nav{
position:absolute;
right:0px;
display:inline-block;
}



