@(message: String)

@main("Dinesh Ravi") {
    
	<div id="about">
	 
	 <div id="story">
	  <h1>DINESH RAVI</h1>
	  <h2>Software Engineer</h2>
	  <p>
	  	"I love coding and also learning new technologies. Apart from this,
	  	 I get excited looking at the business side of things and hence would love to operate at the confluence of business and technology"
	  </p>
	 </div> 
	 
	  <ul id = "contact">
	   <li>
	    <span>Phone</span>
	    <strong>716.868.9541</strong>
	   </li>
	   <li>
	    <span>Blog</span>
	    <strong>Link Here</strong>
	   </li>
	   <li>
	    <span>email</span>
	    <strong>@message</strong>
	   </li>
	  </ul>
    </div>
    
    <div id=>
}