<!DOCTYPE html>

<html>
 <head>
 	<title>Technology</title>
 	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tech.css")">
 </head>
 <body>
 	<div id="about">
 	<div id="story">
 		<h1>Technology</h1>
 			<h2>Software Engineer</h2>
 				<p>	
 					"I am deeply interested in the roles of technology and business in progressive global change.
 					 I get motivated and excited looking at the business side of technologies and love working at the confluence of both these domains"
 				</p>
 	</div> 
 	</div>
 </body
</html>