@main("technology") {
 
 
	<div clas="container" style="background-color:white">
		
		<aside class="cover">
			<div class="cover-img" style="background-image:url('/assets/images/star.png')">
			</div>
			<div class="cover-body">
				<div class="cover-body-inner">
					<h1 class="cover-title">Technology</h1>		
					<p class="cover-description" Style="color:white"> 
					</p>
				</div>
			</div>
		</aside>
		
		<section  class="wrap">
			<div class="wrap-inner">
			  <div class="bucket">
			  
				  <div class="avatar-header">
					  <div class="cover-action" Style="position:relative;float:right">
						<a href="/">
							<img src="/assets/images/din.png" class="item-avatar">
							</img>
						</a>
					  </div>
				  </div>
			  			  		  
				  <div class="bucket-header" style="height:160px;">
					<h5 class="bucket-title">
						<span class="bucket-header-title">
							Frameworks:
						</span>
						<span style="float:right">
							PlayFramework (java),Rails,Django,Silverlight
						</span>
					</h5>
					
					<h5 class="bucket-title">
						<span class="bucket-header-title">
							Programming Languages:
						</span>
						<span style="float:right">
							Java, C++, Ruby, Python
						</span>
			     	</h5>
			     	
			     	<h5 class="bucket-title">
			     		<span class="bucket-header-title">
			     			Web Development:
			     		</span>
			     		<span style="float:right">
			     			JavaScript, CSS, HTML
			     		</span>
				    </h5>
				    
				    <h5 class="bucket-title">
						<span class="bucket-header-title">
							Test Framework:
						</span>
						<span style="float:right">
							JUnit
						</span>
				    </h5>
				    
				    <h5 class="bucket-title">
						<span class="bucket-header-title">
							Databases:
						</span>
						<span style="float:right">
							SQL
						</span>
				    </h5>
				   					
				</div>
			  			  	
				    <article class="item">
						<h3 class="item-title"><a href="http://civicly.cloudfoundry.com" style="text-decoration:none" target="blank">
												Data Integration (Civic.ly): Android Platform</a>
						</h3>
						<div class="item-meta">
							<p>Designed and developed a mobile application which helps users to report 
							   civic issues which they come across, easily using their mobile devices. 
							   Users can take a picture of the issue, add comments and post on Civicly. 
							   Users can also choose to share these posts across their social networks 
							   (Facebook/Twitter) right from Civicly itself. This way they help in 
							   raising awareness in a viral fashion.
				   
							</p>
						</div>
					</article>
					
					<article class="item">
						<h3 class="item-title">Databases: Java
						</h3>
						<div class="item-meta">
							<p>Implemented a Database framework in Java for 
							   storing files, using B+ tree data structure for building secondary indices.
					           </br>
							   </br>
					           Also implemented a query parser and an evaluator engine to operate on 
					           a given subset of SQL type queries.
					           	
					        </p>
					    </div>
					</article>
					
					<article class="item">
					    <h3 class="item-title">Distributed Systems: Java & Android Platform
					    </h3>
				     	<div class="item-meta">
						    <p>Developed an app to study the Dynamo-style distributed key/value storage,
						       on android platform.
						       Along with the main activity the app included a content provider to implement
						       all storage functionalities.
						    </br>
						    </br>
						       Achieved in implementing Dynamo-style <i>Membership</i>, 
						       <i>Request routing</i>, <i>Quorum replication</i>, <i>Failure handling.</i>
						    </br>
						    </br>
							   Implemented a Ring – Distributed Hash Table and benchmarked performance and 
							   scalability using custom designed version of The Chord algorithm.
			          			           	
				            </p>
				        </div>
				    </article>
				   
				    <article class="item">
					    <h3 class="item-title"><a href="http://www.ubsmartasthmamonitor.com/" style="text-decoration:none;" target="blank">
					    					   Software Engineering (Smart Asthma Monitor (SAM)): 
					    					   Django Framework</a>
					    </h3>
					    <div class="item-meta">
						    <p>Implemented a system to log time stamps for monitoring patient’s progress 
						       and medication pattern using Django frame work.
						      </br>
						      </br>
						       Built an automated report delivery system which generated graphic charts 
						       based on collected data, to the medical care provider.
						       </br>
							   </br>
							   This is a prototype system currently being tested at 
							   The Cincinnati Children’s Hospital Medical Centre.
			          			           	
				            </p>
				       </div>
				   </article>
				   
				   <div class="bucket-header">
					 <h5 style="font-size:12px">Personal Projects</h5>
				   </div>
				   
				   <article class="item">
						<h3 class="item-title"><a href="http://presvo.com/" style="text-decoration:none" target="blank">
										Presvo: Rails</a>
						</h3>
						<div class="item-meta">
							<p>Designed and developed a web based presentation tool powered by Rails.
							   </br>
							   </br>
							   Worked on Rails back end and on integration with external API(Facebook)
							   to perform authentication using OAuth protocol.
			           	
							</p>
				        </div>
				   </article>
				   
				   <article class="item">
					    <h3 class="item-title">Cours.ly: Rails
				     	</h3>
					    <div class="item-meta">
						     <p>Developed an online educational network providing educators and learners 
						      with a medium to communicate and interact beyond classrooms in a secure 
						      social environment.

						     </br>
						     </br>
						      Worked on Rails back end and on integration with external API(Facebook)
						      to perform authentication using OAuth protocol.
		           	
					     	</p>
			           </div>
			       </article>
				
				</div>
			</div>
			
			
			<footer>
			<p align="center">© dinesh</p>
			</footer>
			
		</section>
	
	</div>
 
}
