@main("Business") {
 
 
	<div clas="container" style="background-color:white">
		<aside class="cover">
			<div class="cover-img" style="background-image:url('/assets/images/way.png')">
			</div>
			<div class="cover-body">
				<div class="cover-body-inner">
					<h1 class="cover-title">Product Development</h1>
					<p class="cover-description" Style="color:white"> Masters in Computer Science from Universit at Buffalo
												  State University of New York
					</p>
				</div>
			</div>
		</aside>
		<section  class="wrap">
			<div class="wrap-inner">
				<div class="bucket">
				
				<div class="avatar-header">
				  <div class="cover-action" Style="position:relative;float:right">
					<a href="/">
						<img src="/assets/images/din.png" class="item-avatar">
						</img>
					</a>
				  </div>
				</div>
								
				<div class="bucket-header">
				<h5 style="font-size:12px">put Something Here</h5>
				</div>
					<article class="item">
						<h3 class="item-title">Topic One</h3>
						<div class="item-meta">
						<p>This is the contents of the post</p>
						</div>
					</article>
					
					<article class="item">
						<h3 class="item-title">Topic Two</h3>
						<div class="item-meta">
							<p>This is the contents of the second post
							   This is the contents of the second post
					           This is the contents of the second post</br>
					           </br>
					           This is the contents of the second post
					           This is the contents of the second post
					        </p>
					   </div>
					</article>
					
				</div>
			</div>
			<hr>
			<footer>
			<p align="center">© dinesh</p>
			</footer>
			
		</section>
	
	</div>
 
}
