@main("Business") {
 
 
	<div clas="container" style="background-color:white">
		<aside class="cover">
			<div class="cover-img" style="background-image:url('/assets/images/way.png')">
			</div>
			<div class="cover-body">
				<div class="cover-body-inner">
					<h1 class="cover-title">Product Development</h1>
					<p class="cover-description" Style="color:white"> 
					</p>
				</div>
			</div>
		</aside>
		<section  class="wrap">
			<div class="wrap-inner">
				<div class="bucket">
				
				<div class="avatar-header">
				  <div class="cover-action" Style="position:relative;float:right">
					<a href="/">
						<img src="/assets/images/din.png" class="item-avatar">
						</img>
					</a>
				  </div>
				</div>
								
				<div class="bucket-header">
				<h5 style="font-size:12px">Personal Projects</h5>
				</div>
					<article class="item">
						<h3 class="item-title">Cours.ly: Spearheaded the sales and business development
											   processes
						</h3>
						<div class="item-meta">
						<p>Conceived and designed Cours.ly to be an educational network providing
						   the users with a medium to communicate, bond and 
						   interact beyond class rooms.
						   </br>
						   </br>
						   Studied and scrutinized competitor product profiles within the education sector.
						   </br>
						   </br>
						   Performed cost/benefit analysis on existing market standings in designing 
						   a competitive pricing model.
						   </br>
						   </br>
						   Translated the needs of business users and stakeholders into functional 
						   requirements while preparing Business Requirement Documents
						   </br>
						   </br>
						   Managed requirements throughout the Software Development Life Cycle.


						</p>
						</div>
					</article>
					
					<article class="item">
						<h3 class="item-title"><a href="http://presvo.com/" style="text-decoration:none;" target="blank">
												Presvo: Product design and workflow management</a>
						</h3>
						<div class="item-meta">
							<p>Contributed significantly towards the design and development of a 
							platform independent web based presentation tool powered by 
							Rails and Backbone.js.
							</br>
							</br>
							Devised several rapid Proof of Concept projects in pre-sales 
							engagement including a B2C procurement application.
							</br>
							</br>
							Collaborated closely with prospective clients to assess needs, 
							acquire data and configure product to prospect’s needs.

					        </p>
					   </div>
					</article>
					
					<div class="bucket-header">
					<h5 style="font-size:12px">Academic Project</h5>
					</div>
					
					<article class="item">
						<h3 class="item-title"><a href="http://www.ubsmartasthmamonitor.com/" style="text-decoration:none;" target="blank">
									Smart Asthma Monitor (SAM)</a>
						</h3>
							<div class="item-meta">
								<p>Played a vital role in prototyping a Smart Asthma Monitoring system 
								   currently being tested at The Cincinnati Children’s Hospital 
								   Medical Centre.
								</br>
								</br>
									Was instrumental in identifying the end user needs.
								</br>
								</br>
									Liaised with the Medical Centre and the project team to 
									ensure accurate business/system requirements.

								</p>
							</div>
				   </article>
				   
				   <div class="bucket-header">
					<h5 style="font-size:12px">Achievment</h5>
					</div>
				   				   
				   <article class="item">
					<h3 class="item-title">
								Panasci
					</h3>
						<div class="item-meta">
							<p>Finalist at The Panasci, a state level Tech Entrepreneurial Competition at 
							The University at Buffalo.

							</br>
							</br>
							Lead the Business Development processes, Marketing, Operations and Finance.

							</p>
						</div>
					</article>
					
				</div>
			</div>
			
			
			<footer style="margin-bottom:20px">
			<p align="center">© dinesh</p>
			</footer>
			
		</section>
	
	</div>
 
}
