@(message: String)

@main("Dinesh Ravi") {
    
	<div id="about">
	 
	 <div id="story">
	  <h1>DINESH RAVI</h1>
	  <h2>Software Engineer</h2>
	  <p>
	  	"I am deeply interested in the roles of technology and business in progressive global change.
	  	 I get motivated and excited looking at the business side of technologies and love working at the confluence of both these domains"
	  </p>
	 </div> 
	 
	  <ul id = "contact">
	   <li>
	    <span>Phone</span>
	    <strong>716.868.9541</strong>
	   </li>
	   <li>
	    <span>Blog</span>
	    <strong>Link Here</strong>
	   </li>
	   <li>
	    <span>email</span>
	    <strong>@message</strong>
	   </li>
	  </ul>
    </div>
    <div class="section">
     <h2><a href="/tech">Technology</a><h2>
     <h2>Business<h2>
     <h2>Blog<h2>
    </div>
   
    
}